.env
firebase_config.json
__pycache__/
*.pyc
logs/
test/
package-lock.json
node_modules/
dist/
coverage/
*.log
.DS_Store

.next
.vscode/
.idea/
.env.local
form.py
google_forms_credentials.json
fire.json
drive.json
populate_firebase.py
test_simple_workflow.py